{% extends "base.html" %}
{% block content %}
Website created by Logan, Greg, Nvoran, and Bryan Villegas as our group project for CIS4930 - Introduction to Python.
    This site scrapes game reviews and rating from sites and displays them either by searching for a specific game or by viewing the Top 10 list.
    The search function can search for games from the selected platform. The Top 10 list displays the top 10 games, along with ratings, for a
    given platform and time period. One can also create and login to an account. The contact page can be used to contact the developers via
    email.
{% endblock %}