{% extends "base.html" %}
{% block content %}
<style>
div.relative {
	position: relative;
	left: 44px;
}
</style>
<h3>{{title}}</h3>
<div class="container">

      <div class="starter-template">
        <h1><font color="#">Contacting us is easy</font></h1>
        <p class="lead">Feel free to send any questions you have to us. In the case you don't want to use the embedded email form below, our address is: gamereviewbros@gmail.com </p>
      </div>

</div>
<p>
 <div class="container">
<form class="form-inline" name="register" method="post">
	{{form.csrf_token}}
    <label for="exampleInputName2">Name</label>
    {{form.name(size=30)}}
    <label for="exampleInputEmail2">Email</label>
    {{form.email(size=30)}}
  
  <input class = "btn btn-primary" type="submit" value="Send">
  <div class="row">
  <p>
  <div class="col-md-12">
  <textarea class="col-md-8 form" rows="10" name="comment" id="comment">
	</textarea>
  </div>
  </p>
  </div>
</form>

</div>

</p>

<br>

{% endblock %}
