{% extends "base.html" %}
{% block content %}
<style>
div.relative {
	position: relative;
	left: 44px;
}
</style>
<h3>{{title}}</h3>
<div class="container">

      <div class="starter-template">
        <h1><font color="#">Contacting us is easy</font></h1>
        <p class="lead">Feel free to send any questions you have to us. In the case you don't want to use the embedded email form below, our address is: gamereviewbros@outlook.com </p>
      </div>

</div>
<p>
 <div class="container">
<form class="form-inline" name="contact" method="post">
	{{form.csrf_token}}
    <label for="exampleInputName2">Name</label>
    {{form.name(size=30)}}
    <label for="exampleInputEmail2">Email</label>
    {{form.email(size=30)}}

  <div class="row">
  <p>
  <div class="col-md-12">
      {{form.message(size=30)}}
  </div>
  </p>
  </div>
    <input class = "btn btn-primary" type="submit" value="Send">
</form>

</div>

</p>

<br>

    {% if sent %} <br/>
        Sent message successfully. You will hear back from us within 3-5 business days. <br/>
    {% endif %}

{% endblock %}
