{% extends "base.html" %}
{% block content %}
<!--navbar is now located in base.html so it can be extended to every page -->
<center><h1>Game Review Bros.</h1></center>
<!--Add maybe an image to every column and link to the specific game -->
  <div class="container">
	<div class="row">

		<div class="col-md-4">

      <a href="#" class="thumbnail">
        <img src="../static/sixteenNine.jpg" alt="...">
      </a>
			<h3>Mass Effect: Andromeda</h3>
			<p>A short description or preview of the game. Maybe a linkable image even.</p>
		</div>

		<div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="../static/HZD-header.jpg" alt="...">
      </a>
			<h3>Horizon Zero Dawn</h3>
			<p>A short description or preview of the game. Maybe a linkable image even.</p>
		</div>
		<div class="col-md-4">
      <a href="#" class="thumbnail">
        <img src="../static/GTAV.jpg" alt="...">
      </a>
			<h3>Grand Theft Auto V</h3>
			<p>A short description or preview of the game. Maybe a linkable image even.</p>
		</div>
	</div>
</div>






</body>
</html>
{% endblock %}
