{% extends "base.html" %}
{% block content %}
<h3>{{title}}</h3>
<h3 align="center">Login to Game Review Bros</h3>

<br><br>
<form class="form-horizontal" method="post" name="login">
{{form.csrf_token}}

<div class="form-group">
<div class="col-md-3"></div>
<center><label class= "col-md-2">Username</label>

<div class="col-md-3">

{{form.username(size=30)}}

</div>

</div>

<div class="form-group">
<div class="col-md-3"></div>
<center><label class= "col-md-2">Password</label>

<div class="col-md-3">

{{form.password(size=30)}}

</div>

</div>
<center><input type="submit" value="Login" class="btn btn-primary">
</form>

    {% if signin %} <br/>
        Login successful! <br/>
        <li><a href="{{ url_for('index') }}">Continue to Main Page!</a></li>
    {% endif %}

{% endblock %}
