{% extends "base.html" %}
{% block content %}
<center><h1>Top 10 Games by Metascore</h1></center>

<p> Platform: 
<select action="" method="post" name="top10">

    <input type="submit" value="Submit">
</form>
</p>
 
 <table style="width:100%">
  <tr>
    <th>Ranking</th>
    <th>Metascore</th>
    <th>Title</th>
    <th>User Score</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><a href="http://www.absolyn.com">Absolyn</a></td>
    <td></td>
  </tr>
 <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table> 

{% endblock %}